* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #233142;
}

/* Header Section */
.header__section {
  background-color: #455d7a;
}

.header__section__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 350px;
  margin: 0 auto;
  height: 70px;
  width: 100%;
}

.header__navbar__title {
  font-size: 22px;
  color: #f95959;
}

.fa-bars {
  font-size: 22px;
  color: #f95959;
}

.fa-times {
  position: absolute;
  top: 2%;
  right: 4%;
  font-size: 22px;
  color: #f95959;
  z-index: 111111;
}

.header__navbar__list__container {
  position: absolute;
  display: flex;
  top: 0;
  left: -100%;
  width: 100%;
  background-color: #455d7a;
  height: 100vh;
  padding: 100px 40px;
  list-style: none;
  z-index: 1;
  flex-direction: column;
  gap: 30px;
  transition: all 0.3s ease;
}

.header__navbar__list__link {
  text-decoration: none;
  color: #f95959;
  font-size: 30px;
  font-weight: 700;
}

/* Set Time */
.setTime {
  color: #f95959;
  text-align: right;
  padding: 1% 2%;
  font-weight: 600;
}

/* List Section */
.list__section__title {
  font-size: 30px;
  color: #f95959;
  margin: 20px;
  text-align: center;
}

.list__section__books__container {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
}

.list__section__book__content {
  background-color: #455d7a;
  padding: 14px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__section__book__features {
  font-size: 18px;
  color: #e3e3e3;
}

.removeBook {
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  background-color: #ff2e2e;
  color: #e3e3e3;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}

.removeBook:hover {
  background-color: #c52525;
}

/* Add new Section */
.addNew__section {
  height: calc(100vh - 157px);
  overflow: hidden;
}

.addNew__form__container {
  padding-top: 100px;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addNew__books__title {
  font-size: 30px;
  color: #f95959;
  margin: 20px;
  text-align: center;
}

h5 {
  color: #e3e3e3;
  font-size: 16px;
  text-align: center;
}

.addNew__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.addNew__field {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  outline: none;
  background-color: #233142;
  color: #e3e3e3;
  font-size: 16px;
  font-weight: 600;
}

.addNew__field::placeholder {
  color: #e3e3e3;
  font-weight: 600;
}

.addNew__submitBtn {
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  outline: none;
  background-color: #308760;
  color: #e3e3e3;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.addNew__submitBtn:hover {
  background-color: #215c41;
}

.errorMessage {
  max-width: 350px;
  margin: 0 auto;
  padding-top: 40px;
  display: none;
}

.errorMessage__title {
  color: #e3e3e3;
  text-align: center;
}

/* Contact Section */
.contact__section {
  padding: 100px 0;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: calc(100vh - 158px);
  overflow-y: hidden;
}

.contact__section__title {
  font-size: 30px;
  color: #f95959;
  text-align: center;
  margin: 20px;
}

.contact__section__paragraph {
  color: #e3e3e3;
  font-size: 16px;
  font-weight: 400;
}

.contact__section__list__container {
  max-width: 280px;
  margin: 0 auto;
}

.contact__section__list__item {
  color: #e3e3e3;
}

/* Footer Section */
.footer__section {
  background-color: #455d7a;
}

.footer__container {
  padding: 30px 0;
  max-width: 350px;
  margin: 0 auto;
}

.footer__section__title {
  color: #e3e3e3;
  font-size: 18px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  /* Header Section */
  .header__section__container {
    max-width: 700px;
  }

  .fa-bars {
    display: none;
  }

  .header__navbar__list__container {
    position: initial;
    top: 0;
    left: -100%;
    height: initial;
    padding: initial;
    flex-direction: row;
  }

  .header__navbar__list__link {
    font-size: 18px;
  }

  /* List Section */
  .list__section__books__container {
    max-width: 700px;
  }

  .list__section__book__features {
    font-size: 22px;
  }

  .removeBook {
    font-size: 14px;
  }

  /* Add New Section */
  .addNew__form__container {
    max-width: 400px;
  }

  .addNew__field {
    font-size: 18px;
    width: 100%;
  }

  .errorMessage {
    max-width: 700px;
  }

  /* Contact Section */
  .contact__section {
    max-width: 700px;
  }

  .contact__section__paragraph {
    font-size: 18px;
  }

  .contact__section__list__container {
    margin-left: 60px;
    max-width: 700px;
  }

  .contact__section__list__item {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  /* Header Section */
  .header__section__container {
    max-width: 900px;
  }

  /* List Section */
  .list__section__books__container {
    max-width: 900px;
  }

  /* Add New Section */
  .addNew__form__container {
    max-width: 500px;
  }

  /* Contact Section */
  .contact__section {
    max-width: 900px;
    align-items: center;
  }

  .contact__section__list__container {
    margin-left: 160px;
  }

  .footer__container {
    max-width: 900px;
  }

  .footer__section__title {
    font-size: 22px;
  }
}
